<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cremy.firebucket">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.cremy.shared.App">
        <activity android:name="com.cremy.firebucket.ui.view.LaunchScreen"
            android:theme="@style/AppTheme.LaunchScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.BucketActivity"
            android:theme="@style/BucketActivityTheme"></activity>

        <activity android:name="com.cremy.firebucket.ui.view.LoginActivity"
            android:theme="@style/LoginActivityTheme"></activity>

        <activity android:name="com.cremy.firebucket.ui.view.RegisterActivity"
            android:theme="@style/RegisterActivityTheme"></activity>
        <activity android:name="com.cremy.firebucket.ui.view.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OnBoardingActivityTheme"></activity>
        <activity android:name="com.cremy.firebucket.ui.view.CreateTaskActivity"
            android:theme="@style/CreateTaskActivityTheme"></activity>
    </application>

</manifest>