<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cremy.androidapptemplate.tvandroidtest"
    tools:ignore="MissingLeanbackLauncher,MissingLeanbackSupport">

    <!-- Specify runner and target application package -->
    <instrumentation
        android:name="com.cremy.sharedtest.runner.RxAndroidJUnitRunner"
        android:targetPackage="com.cremy.androidapptemplate" />
</manifest>
